<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ma.mla.callcards.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Perspective"
            class="ma.mla.callcards.Perspective"
            id="CallCard.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="CallCard"
            name="CallCard Category">
      </category>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.ProductsView"
            icon="icons/card_16.png"
            id="ma.mla.view.products"
            name="Produits"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.BookView"
            icon="icons/person_16.png"
            id="ma.mla.view.book"
            name="Carnet d&apos;adresses"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.PurchasesView"
            icon="icons/purchase_16.png"
            id="ma.mla.view.purchases"
            name="Achats"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.SalesView"
            icon="icons/bag_16.png"
            id="ma.mla.view.sales"
            name="Ventes"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.StockView"
            icon="icons/stock_16.png"
            id="ma.mla.view.stock"
            name="Stock"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.ClientSheetView"
            icon="icons/client_sheet_16.png"
            id="ma.mla.view.client.sheet"
            name="Fiche client"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.FundView"
            icon="icons/pay_16.png"
            id="ma.mla.view.fund"
            name="Caisse"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.ProviderSheetView"
            icon="icons/client_sheet_16.png"
            id="ma.mla.view.provider.sheet"
            name="Fiche fournisseur"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.ClientsStatusView"
            icon="icons/client_status_16.png"
            id="ma.mla.view.clients.status"
            name="Crédit clients"
            restorable="false">
      </view>
      <view
            category="CallCard"
            class="ma.mla.callcards.views.AccountsView"
            icon="icons/calculate_16.png"
            id="ma.mla.view.accounts"
            name="Balance"
            restorable="false">
      </view>
   </extension>
   <extension
         id="CallCard.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="CallCard.application"
            name="Call Cards Business">
         <property
               name="appName"
               value="callcard.product">
         </property>
         <property
               name="windowImages"
               value="icons/card_16.png,icons/card_32.png">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="CallCard.application"
            name="callcard.product">
         <property
               name="appName"
               value="callcard.product">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
